In [ ]:
from google.colab import files

dataset = files.upload()

Saving january.csv to january.csv

In [ ]:
import io
import pandas as pd

df = pd.read_csv(io.BytesIO(dataset['january.csv']))

df.head()

#len(df[df['Quantity'] > 0 and df['Discount'] > 0])

   Unnamed: 0  Order Date Sub-Category  Discount   Sales  Quantity  Profit
0           0  2015-01-03        Paper       0.2  16.448         2  5.5512
1           1  2015-01-03      Binders       0.0   0.000         0  0.0000
2           2  2015-01-03  Furnishings       0.0   0.000         0  0.0000
3           3  2015-01-03       Phones       0.0   0.000         0  0.0000
4           4  2015-01-03      Storage       0.0   0.000         0  0.0000

In [ ]:
#df = df[df['Quantity'] > 0]

len(df)

1452

In [ ]:
onehotdf = pd.get_dummies(df['Sub-Category'])
X = pd.concat([df['Discount'], onehotdf], axis=1)
y = df[['Sales', 'Quantity', 'Profit']]

X.head()

   Discount  Accessories  Appliances  Art  ...  Phones  Storage  Supplies  Tables
0       0.2            0           0    0  ...       0        0         0       0
1       0.0            0           0    0  ...       0        0         0       0
2       0.0            0           0    0  ...       0        0         0       0
3       0.0            0           0    0  ...       1        0         0       0
4       0.0            0           0    0  ...       0        1         0       0

[5 rows x 18 columns]

In [ ]:
y.head()

    Sales  Quantity  Profit
0  16.448         2  5.5512
1   0.000         0  0.0000
2   0.000         0  0.0000
3   0.000         0  0.0000
4   0.000         0  0.0000

In [ ]:
import xgboost as xgb
from sklearn.multioutput import MultiOutputRegressor
import numpy as np

np.random.seed(100)

model = MultiOutputRegressor(xgb.XGBRegressor(objective='reg:squarederror', learning_rate=0.001, n_estimators=10)).fit(X.to_numpy(), y.to_numpy())

In [ ]:
print(np.mean((model.predict(X.to_numpy()) - y.to_numpy())**2, axis=0))

[1.13586721e+05 5.91980984e+00 1.30883277e+04]

In [ ]:
0.0010467348321814777, 2.242642103993476e-05

(0.0010467348321814777, 2.242642103993476e-05)